
# Core Engine settings
[core]
  LogLevel = "info"

  # low level engine settings
  [core.tunables]
    UpdatesPerSecondTarget = 60
    FramesPerSecondTarget = 60
    MaxWorldPoolWorkers = 32

# graphics related settings
[graphics]
  resolution = "1920x1080"
  vsync = false
  fullscreen = false

  # resources related settings
  [graphics.resources]

    # Should resources be loaded from the filesystem or the binary
    embedded = false
